/*Setting base font size of 10px for an easier rem calculations*/


body {
    background-color: gainsboro;
    margin-top: 60px;
}

h1 {
    text-size: 6rm;
    color: dimgray;
}

h2 {
    text-size: 4rm;
    color: darkslategray;
}

h3 {
    text-size: 3.5rem;
}

li {
    text-size: 1.4rem;
}

footer {
    background-color: gainsboro;
}
